pandas는 엑셀과 같은 데이터를 손쉽게 읽고 쓸 수 있게 도와주는 라이브러리 입니다.
pandas는 다음과 같은 긴으을 위해 만들어 졌다고 합니다.

1. 축의 이름을 따라 데이터를 정렬할 수 있는 자료 구조(data structure). 다양한 소스에서 가져온 다양한 방식으로 색인된 데이터를 핸들링 가능한 기능

2. 통합된 시계열 기능

3. 시계열, 비시계열 데이터 모두 다룰 수 있는 자료 구조

4. 산술연산 및 한 축(column을 의미하는 듯)의 모든 값을 더하는 등의 축약연산이 가능

5. 누락된 데이터의 유연한 처리 기능

6. SQL 같은 관계연산 수행 기능

In [1]:
#판다스 라이브러리 호출
import pandas as pd

판다스는 read_csv를 통해 csv 파일을 손 쉽게 읽어 올 수 있습니다.

In [2]:
df = pd.read_csv("2015.csv")

pd.DataFrame().head(nums)는 데이터프레임을 처음 nums만큼 출력해 주는 기능입니다.

In [3]:
df.head(3)

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204

pd.DataFrame().tail(nums)는 데이터프레임을 마지막 nums만큼 출력해 주는 기능입니다.

In [4]:
df.tail(3)

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
155,Syria,Middle East and Northern Africa,156,3.006,0.05015,0.66320,0.47489,0.72193,0.15684,0.18906,0.47179,0.32858
156,Burundi,Sub-Saharan Africa,157,2.905,0.08658,0.01530,0.41587,0.22396,0.11850,0.10062,0.19727,1.83302
157,Togo,Sub-Saharan Africa,158,2.839,0.06727,0.20868,0.13995,0.28443,0.36453,0.10731,0.16681,1.56726

pandas.DataFrame.describe()는 데이터 집합 분포의 중심 경향, 분산 및 모양을 요약하는 서술적 통계를 생성해 줍니다.
데이터의 전반적인 특징을 빠르게 파악 할 수 있게 도와줍니다.

In [5]:
df.describe()

,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
count,158.000000,158.000000,158.000000,158.000000,158.000000,158.000000,158.000000,158.000000,158.000000,158.000000
mean,79.493671,5.375734,0.047885,0.846137,0.991046,0.630259,0.428615,0.143422,0.237296,2.098977
std,45.754363,1.145010,0.017146,0.403121,0.272369,0.247078,0.150693,0.120034,0.126685,0.553550
min,1.000000,2.839000,0.018480,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.328580
25%,40.250000,4.526000,0.037268,0.545808,0.856823,0.439185,0.328330,0.061675,0.150553,1.759410
50%,79.500000,5.232500,0.043940,0.910245,1.029510,0.696705,0.435515,0.107220,0.216130,2.095415
75%,118.750000,6.243750,0.052300,1.158448,1.214405,0.811013,0.549092,0.180255,0.309883,2.462415
max,158.000000,7.587000,0.136930,1.690420,1.402230,1.025250,0.669730,0.551910,0.795880,3.602140

외부 데이터를 읽어 사용할 때 특정 데이터 열의 이름을 변경하거나, 값을 변경, 혹은 열을 제거하는 등의 전처리 과정이 필요합니다.
이번 커널에서는 특정 열을 지정하는 방법에 대해 알아 봅니다.

In [6]:
#가장 간단한 방법은 열의 이름을 index parameter로 입력을 해 주는 것입니다.
df["Health (Life Expectancy)"].head(5)

0    0.94143
1    0.94784
2    0.87464
3    0.88521
4    0.90563
Name: Health (Life Expectancy), dtype: float64

하지만 이 방법은 데이터 가리키려는 열의 이름을 알아야 하며, "Health (Life Expectancy)"처럼 열의 이름이 지나치게 길거나 복잡할 경우 사용하는 것이 불편해 집니다.
pandas.columns[idx] 는 데이터 프레임의 가리키고 싶은 열 위치를 입력하면 해당 위치의 열의 이름을 반환해 줍니다.

In [7]:
df.columns[7]

'Health (Life Expectancy)'

이번에는 df.columns를 사용해 Pandas DataFrame의 특정 열의 값을 추출해 봅시다.

In [8]:
col = df.columns[7]
df[col].head(5)

0    0.94143
1    0.94784
2    0.87464
3    0.88521
4    0.90563
Name: Health (Life Expectancy), dtype: float64

In [10]:
df[df.columns[7]].head(5)

0    0.94143
1    0.94784
2    0.87464
3    0.88521
4    0.90563
Name: Health (Life Expectancy), dtype: float64

이번에는 열의 이름이 아닌 위치를 지정하여 데이터를 추출하는 방법에 대해 알아 봅시다.
pandas는 pandas.DataFrame.iloc method를 통해 데이터 프레임의 위치 좌표계로 데이터에 접근 할 수 있는 method를 제공해 줍니다.
df.iloc[가져올 행의 위치, 가져올 열의 위치]

In [11]:
#df.iloc[가져올 행의 위치, 가져올 열의 위치]
healthy = df.iloc[:,7]
healthy.head(5)

0    0.94143
1    0.94784
2    0.87464
3    0.88521
4    0.90563
Name: Health (Life Expectancy), dtype: float64

지금까지 데이터 프레임의 행과 열을 지정하는 것을 해보았습니다.
그렇다면 이번에는 데이터 프레임의 열을 제거해 보는 것을 실습해 보도록 합니다.
아래 보이는 데이터 프레임은 여러분들이 고급프로그래밍 첫번째 과제로 실습한 happiness 데이터 입니다.
우리는 happiness 데이터의 df를 happiness 데이터와 동일한 열 순서를 갖도록 만들어 봅시다.

In [14]:
happiness = pd.read_csv("happiness.csv")
happiness.head(5)

,#Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual,Happiness Score
0,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738,7.587
1,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201,7.561
2,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204,7.527
3,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531,7.522
4,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176,7.427

In [15]:
df.head(5)

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176

Pandas는 df.drop method를 통하여 데이터 프레임의 행 또는 열을 제거 할 수 있습니다.

먼저 df에서 Country 열을 제거한 데이터 프레임을 만들어 봅시다.

In [12]:
#DataFrame.drop(labels=None, axis=0, index=None, columns=None, level=None, inplace=False, errors='raise')
df2 = df.drop("Country",axis=1)
df2.head(5)

,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738
1,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201
2,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204
3,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531
4,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176

df.drop method는 여러개의 열을 제거하는 것 또한 가능합니다.
df.drop(["a","b"],axis="select")

In [16]:
df3 = df.drop(["Country","Region"],axis=1)
df3.head(5)

,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738
1,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201
2,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204
3,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531
4,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176

하지만 이 방법은 열을 지정하는 방법과 마찬가지로 열의 이름이 긴 경우 굉장히 번거롭다는 단점이 있습니다.
따라서 이번에는 아까 배운 df.columns를 사용해 열을 추출해 보도록 하겠습니다.

In [17]:
drops = df.columns[[0,1,2]]
df4 = df.drop(drops,axis=1)
df4.head(5)

,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738
1,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201
2,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204
3,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531
4,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176

두 데이터 프레임이 비슷한 모양을 가졌습니다. 두 데이터 프레임들 사이에 가장 큰 차이점읜 "Happiness Score"의 위치의 차이가 될 것입니다.
이번에는 "Happiness Score"를 데이터 프레임의 맨마지막 열로 변경해 봅시다.

In [18]:
df4.head(5)

,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738
1,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201
2,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204
3,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531
4,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176

In [19]:
happiness.head(5)

,#Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual,Happiness Score
0,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738,7.587
1,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201,7.561
2,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204,7.527
3,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531,7.522
4,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176,7.427

In [20]:
Happy = df4.columns[0]
HS = df4[Happy]
HS.head(5)

0    7.587
1    7.561
2    7.527
3    7.522
4    7.427
Name: Happiness Score, dtype: float64

In [21]:
df5= df4.drop(Happy,axis=1)
df5.head(5)

,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738
1,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201
2,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204
3,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531
4,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176

In [25]:
import copy
Final = copy.deepcopy(df5) #깊은복사를 위함
Final[Happy] = HS

In [27]:
Final.head(5)

,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual,Happiness Score
0,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738,7.587
1,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201,7.561
2,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204,7.527
3,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531,7.522
4,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176,7.427

만들어진 DataFrame을 파일로 만들어 봅시다.
pandas는 데이터프레임을 여러 파일 포맷으로 저장할수 있도록 함수를 제공해 주고 있습니다.
우리는 그 중 to_csv와 to_excel을 사용해 봅시다.

DataFrame.to_csv(path_or_buf=None, sep=', ', na_rep='', float_format=None, columns=None, header=True, index=True, index_label=None, mode='w', encoding=None, compression='infer', quoting=None, quotechar='"', line_terminator=None, chunksize=None, tupleize_cols=None, date_format=None, doublequote=True, escapechar=None, decimal='.')

In [28]:
Final.to_csv("_happiness.csv",index=False)

In [29]:
#엑셀의 포맷은 .xlsx를 권장합니다.
Final.to_excel("happiness.xlsx",index=False)